# mongod.conf

net:
   http:
      enabled: true
      JSONPEnabled: true
      RESTInterfaceEnabled: true

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
#storage:
#  dbPath: /var/lib/mongodb
#  journal:
#    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{mongo_log_base_path}}/{{item.clusterRole}}_{{item.replSetName}}_{{item.rs_id | default(0)}}.log

# network interfaces
net:
  port: {{item.port}}
  bindIp: [{{item.bindIp | default('0.0.0.0')}}, 127.0.0.1]


#processManagement:

#security:

#operationProfiling:

#replication:
#  replSetName: {{item.replSetName}}

sharding:
  configDB: {{item.replSetName}}/{% for server in item.configDB %}{{server.ip | default(box_address)}}:{{server.port}}{% if not loop.last %},{% endif %}{% endfor %}

## Enterprise-Only Options:

#auditLog:

#snmp:
